.register_services_1 .container_appear, .register_services_1 .container_next {
  width: 35vw;
  border: solid 1px;
  padding: 80px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat;
}

body {
  background-color: #F1F7EE;
  overflow-x: hidden;
}

header {
  height: 10vh;
  width: 100vw;
}

.navbar {
  position: fixed;
  z-index: 50;
  padding: 50px 50px 40px 50px;
  display: flex;
  justify-content: space-between;
  background-color: #92AA83;
  align-items: center;
  width: 100%;
  height: 0.5vh;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
}
.navbar .nav-links > .list-container {
  display: flex;
}
.navbar .dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #B0BEA9;
  width: 230px;
  margin-top: 10px;
  padding: 0;
}
.navbar .dropdown-menu li {
  margin: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  color: white;
  padding: 15px 0;
  text-indent: 15px;
  margin: 15px 0;
  width: 100%;
  text-shadow: none;
}
.navbar .dropdown-menu li:hover {
  box-shadow: 0px 0px 10px #E0EDC5;
  text-shadow: none;
}
.navbar .dropdown:hover {
  cursor: pointer;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar .dropdown .dropdown-toggle {
  box-sizing: border-box;
}
.navbar .dropdown .dropdown-toggle:hover {
  color: white;
}
.navbar .dropdown .dropdown-toggle:hover img {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}
.navbar .dropdown .dropdown-toggle img {
  transition: 0.5s ease-in-out;
  rotate: rotate(0deg);
  width: 10px;
  height: 10px;
}
.navbar a {
  color: black;
}
.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  width: 20%;
}
.navbar .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}
.navbar .nav-links > ul > li {
  margin: 0 30px;
  font-size: 18px;
  height: 100%;
}
.navbar .nav-links > ul > li:hover {
  transition: all 0.3s ease-in;
  text-shadow: 0px 5px 5px black;
  color: white;
}
.navbar .nav-links > ul > li:hover a {
  color: white;
}
.navbar .nav-links ul li.active {
  color: #363D32;
  font-weight: bolder;
  font-size: 20px;
  border-bottom: solid white;
}
.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
}
.navbar .menu-hamburger:hover {
  cursor: pointer;
}

.mobile-menu {
  margin-left: 0;
}

@media screen and (max-width:1800px) {
  .navbar {
    padding: 0;
  }
  .navbar .logo {
    position: absolute;
    top: 50px;
    left: 30px;
  }
  .navbar .nav-links {
    margin-left: -100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(75, 72, 72, 0.2);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links > ul > li {
    margin: 25px 0px;
    font-size: 1.2em;
    font-weight: 50px;
  }
  .navbar .nav-links.mobile-menu {
    transition: all 0.5s ease-in-out;
    margin-left: 0;
  }
  .navbar .menu-hamburger {
    display: block;
    transition: 0.5s ease-in-out;
  }
  .navbar .menu-hamburger.close {
    transform: rotate(90deg);
  }
  .container {
    width: 40vh;
  }
}
.register_services_1 {
  padding: 50px 30px;
  height: 100vh;
  width: 50vw;
  margin: auto;
}
@media screen and (max-width:1800px) {
  .register_services_1 {
    width: 70vw;
    margin: 0 15vw;
  }
}
@media screen and (max-width:1400px) {
  .register_services_1 {
    width: 80vw;
    margin: 0 5vw;
  }
}
@media screen and (max-width:950px) {
  .register_services_1 {
    width: 100vw;
    margin: 0;
  }
}
.register_services_1 .container_appear {
  transition: 0.5s ease-in-out;
  margin: 0 3vw;
}
@media screen and (max-width:1800px) {
  .register_services_1 .container_appear {
    width: 40vw;
    margin: 0 5vw;
  }
}
@media screen and (max-width:1400px) {
  .register_services_1 .container_appear {
    width: 50vw;
    margin: 0 8vw;
  }
}
@media screen and (max-width:950px) {
  .register_services_1 .container_appear {
    width: 50vw;
    margin: 0;
  }
}
.register_services_1 .container_next {
  left: 100vw;
}
@media screen and (max-width:1800px) {
  .register_services_1 .container_next {
    width: 40vw;
  }
}
@media screen and (max-width:1400px) {
  .register_services_1 .container_next {
    width: 50vw;
  }
}
@media screen and (max-width:950px) {
  .register_services_1 .container_next {
    width: 50vw;
  }
}

.description {
  padding-bottom: 20px;
  line-height: 25px;
}

.btn {
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  margin: 0;
  border: solid 2px;
  background-color: rgba(143, 138, 138, 0.25);
  color: black;
  padding: 10px 20px;
  text-align: center;
  border: solid 2px white;
}
.btn:hover {
  cursor: pointer;
  color: white;
}
.btn.validation:hover {
  transition: 0.5s ease-in-out;
  border-radius: 25px;
  background-color: rgba(5, 143, 9, 0.7);
}
.btn.annulation:hover {
  transition: 0.5s ease-in-out;
  border-radius: 25px;
  background-color: rgba(255, 4, 4, 0.7);
}
.btn.abeona-custom_1 {
  background-color: #363D32;
  width: 40vw;
  height: 10vh;
  border: none;
}
.btn.abeona-custom_1:hover {
  transition: 0.5s ease-in-out;
  background-color: #92AA83;
}
.btn.abeona-custom_2 {
  background-color: #363D32;
  color: #92AA83;
  border: none;
}
.btn.abeona-custom_3 {
  background-color: #92AA83;
  width: 100%;
  margin: 0;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.abeona-custom_3:hover {
  transition: 0.5s ease-in-out;
  background-color: #363D32;
}
.btn.abeona-custom_3 img {
  transition: 0.5s ease-in-out;
  height: 40px;
  width: 40px;
  margin-left: 15px;
}

.container-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  position: relative;
  margin-top: 55px;
}

.input-section {
  position: relative;
  margin-bottom: 50px;
}
.input-section .label-options {
  position: absolute;
  top: -15px;
  left: 8px;
  font-size: 14px;
  padding: 0 5px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.input-section .options {
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  border: solid black 2px;
  background-color: transparent;
}
.input-section .input {
  padding: 10px;
  width: 97%;
  height: 30px;
  font-size: 20px;
  background-color: transparent;
  border-radius: 10px;
}
.input-section .input.textarea {
  height: 100px;
  border: solid 2px black;
}
.input-section .label-input {
  position: absolute;
  top: 17px;
  left: 8px;
  font-size: 17px;
  padding: 0 5px;
  background-color: transparent;
}
.input-section .label-input_up {
  transition: 0.5s ease-in-out;
  font-weight: bolder;
  top: -15px;
  color: rgb(16, 17, 16);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.error-form {
  color: red;
  text-align: right;
  position: absolute;
  width: 100%;
  top: -25px;
}

.succes-register {
  height: 100vh;
  width: 100vw;
}
.succes-register .header-success {
  text-align: center;
  outline: red;
  padding: 70px 0;
  font-size: 2.4vw;
}
.succes-register .second-success {
  text-align: center;
  font-size: 1.7vw;
  word-spacing: 0px;
}
.succes-register .container-btn {
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

.semi-ecran {
  width: 50vw;
}

.row {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

.desc_inscr {
  padding: 20px;
  border-bottom: solid 2px #363D32;
  width: 80%;
  margin: auto;
}

.inscription_section {
  width: 80vw;
  height: 90vh;
  padding: 5vh 10vw;
}
@media screen and (max-width:1400px) {
  .inscription_section {
    padding: 5vh 0;
    background: transparent;
  }
}
@media screen and (max-width:1100px) {
  .inscription_section {
    padding: 2vh 0;
    background: transparent;
  }
}
.inscription_section form {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width:1400px) {
  .inscription_section form {
    width: 86%;
  }
}
.inscription_section .inscription_container {
  display: flex;
  width: 80vw;
  border-radius: 15px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
@media screen and (max-width:1400px) {
  .inscription_section .inscription_container {
    width: 100vw;
  }
}
.inscription_section .inscription_container h1 {
  text-align: center;
}
.inscription_section .inscription_container .img-desc {
  background-image: url("../image_videos/login_2.png");
  background-repeat: none;
  background-size: cover;
}
@media screen and (max-width:950px) {
  .inscription_section .inscription_container .img-desc {
    display: none;
  }
}
.inscription_section .inscription_container .img-desc .desc_form {
  position: absolute;
  width: 45%;
  margin: auto;
  font-weight: bold;
  color: white;
  font-size: large;
  position: relative;
  overflow: hidden;
  top: 340px;
}
.inscription_section .inscription_container .img-desc .rectangle_1 {
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 14px;
  height: 33px;
  left: 120px;
  top: 255.5px;
  background: #ffffff;
  transform: rotate(179.4deg);
}
@media screen and (max-width:1400px) {
  .inscription_section .inscription_container .img-desc .rectangle_1 {
    left: 140px;
  }
}
@media screen and (max-width:1100px) {
  .inscription_section .inscription_container .img-desc .rectangle_1 {
    left: 110px;
  }
}
.inscription_section .inscription_container .img-desc .rectangle_2 {
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 14px;
  height: 34.53px;
  left: 130.06px;
  top: 244.14px;
  background: #ffffff;
  transform: rotate(-90.24deg);
}
@media screen and (max-width:1400px) {
  .inscription_section .inscription_container .img-desc .rectangle_2 {
    left: 150px;
  }
}
@media screen and (max-width:1100px) {
  .inscription_section .inscription_container .img-desc .rectangle_2 {
    left: 120px;
  }
}
.inscription_section .inscription_container .img-desc .rectangle_3 {
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 14px;
  height: 33px;
  left: 520px;
  top: 535.5px;
  background: #fefefe;
  transform: rotate(179.4deg);
}
@media screen and (max-width:1400px) {
  .inscription_section .inscription_container .img-desc .rectangle_3 {
    left: 471px;
  }
}
@media screen and (max-width:1100px) {
  .inscription_section .inscription_container .img-desc .rectangle_3 {
    left: 400px;
  }
}
.inscription_section .inscription_container .img-desc .rectangle_4 {
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 14px;
  height: 34.53px;
  left: 509px;
  top: 546.5px;
  background: #ffffff;
  transform: rotate(-90.24deg);
}
@media screen and (max-width:1400px) {
  .inscription_section .inscription_container .img-desc .rectangle_4 {
    left: 460px;
  }
}
@media screen and (max-width:1100px) {
  .inscription_section .inscription_container .img-desc .rectangle_4 {
    left: 389px;
  }
}
.inscription_section .inscription_container .form_container {
  padding: 20px;
}
@media screen and (max-width:950px) {
  .inscription_section .inscription_container .form_container {
    padding: 0;
    width: 100vw;
  }
}

.first_container {
  width: 100vw;
  height: 100vh;
}
.first_container .container_commodite {
  width: 70vw;
  margin: auto;
  margin-top: 5vh;
  padding: 2%;
  border-radius: 5px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.first_container .container_commodite .commoditer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.first_container .container_commodite .commoditer .input-section {
  transition: background-color 0.5s ease-in-out;
  border: solid 1px;
  border-radius: 15px;
  overflow: hidden;
  width: 25%;
  color: #92AA83;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
}
.first_container .container_commodite .commoditer .input-section:hover {
  cursor: pointer;
}
.first_container .container_commodite .commoditer .input-section.checked {
  transition: background-color 0.5s ease-in-out;
  background-color: #92AA83;
  color: white;
}
@media screen and (max-width:950px) {
  .first_container .container_commodite .commoditer .input-section {
    width: 40%;
  }
}
.first_container .container_commodite .commoditer .input-section input[type=checkbox] {
  display: none;
}
.first_container .container_commodite .commoditer .input-section .label-commoditer {
  font-size: large;
  font-weight: bold;
}
.first_container .container_commodite .commoditer .input-section .label-commoditer:hover {
  cursor: pointer;
}
.first_container .container_commodite .desc_inscr {
  text-align: center;
}
.first_container .container_commodite form {
  width: 90%;
  margin: auto;
  padding: 0;
  margin-top: 50px;
}
@media screen and (max-width:1400px) {
  .first_container .container_commodite form {
    width: 80%;
  }
}
.first_container .container_commodite .input-section {
  width: 35%;
  margin: auto;
  margin-bottom: 50px;
}
@media screen and (max-width:1100px) {
  .first_container .container_commodite .input-section {
    width: 80%;
  }
}
.first_container .container_forms {
  width: 50vw;
  margin: auto;
  margin-top: 5vh;
  padding: 2%;
  border-radius: 5px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
@media screen and (max-width:950px) {
  .first_container .container_forms {
    width: 80vw;
  }
}
.first_container .container_forms form {
  width: 70%;
  margin: auto;
  padding: 0;
  margin-top: 50px;
}
@media screen and (max-width:1400px) {
  .first_container .container_forms form {
    width: 80%;
  }
}
.first_container h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 45px;
}
.first_container h1 .yellow {
  color: yellowgreen;
}

/*# sourceMappingURL=styles.css.map */
